h1 {
color: black;
background-color:gray
}
.links{
margin-top: -30px;
background-color:gray;
 }
.links ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.links li{
  float:left;
  padding:8px;
  display:block;
}
.links a:link{
  color:white;
  text-decoration: none;
}
.links a:visited{
  color:white;
  text-decoration: none;
}
.links a:hover{
  color:red;
  text-decoration: none;
}


/* Main Column Style */
.column-left{
  display:inline-block;
  float: left;
  width: 80%;

 }
.column-right{
  display:inline-block;
  float: right;
  width: 10%;
  border:dashed
 }


/* Specific ID Style */
#summary{
  border:1px solid;
}


/* Footer Style  */
footer{
  position: absolute;
  bottom:0;
  width:100%;
  background-color:gray;
}

footer p{
  text-align:center;
  padding-bottom: -1px;
}
footer ul{
  list-style-type:none;
  padding: 0;
  overflow: hidden;
}
footer li{
  float:left;
  padding:8px;
  display:block;
  float:center;
}
footer a:link{
  color:white;
  text-decoration: none;
  float:center;
}
footer a:visited{
  color:white;
  text-decoration: none;
  float:center;
}
footer a:hover{
  color:red;
  text-decoration: none;
  float:center;
}
