nav {
  background-color: #333333;
  display:block;
  z-index:5;
}
#navbar-2 {
  overflow: hidden;
  background-color: #333;
  left: 0px;

}
#navbar-2.sticky:hover {
  overflow: visible;
  clear:all;
  background-color: #333;
  left: 0px;
}
#navbar-2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}
#navbar-2 a:hover {
  background-color: #333333;
  color: black;
  overflow: visible;
}
#navbar-2 a.active {
  background-color: #4CAF50;
  color: black;
}
.sticky {
  position: fixed;
  top:5px;
  width: 100%;
}
.page-menu {
  position: fixed;
  background: #e8e8e8;
  top: 2px;
  left:0px;
  width: 100px;
}
.nav.page-menulist {
  list-style: none;
  padding: 0;
}

.nav.page-menulist .menuitem a {
  color: black;
  padding: 10px 20px;
  position:relative;
}

.nav.page-menulist .menuitem.active {
  background-color: ;
}

.nav.page-menulist .menuitem.active > a {
  color: black;
  background-color:#e8e8e8;
}

.dropdown-content {
    display:none;
    list-style:none;
}

li.menuitem:hover .dropdown-content{
  display:inline;
  position:absolute;
  top:20px;
  margin-left:-5%;
  background-color:#333;
}
