body {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 30px;
  color: #333;
}

select {
    font-size: 13px;
    font-family: Lato, Helvetica, sans-serif;
}


option {
    font-size: 13px;
    font-family: Lato, Helvetica, sans-serif;
}


#middledoubles {
  color: #225ea8;
  font-weight: 900;
}

#higherdoubles {
  color: #7fcdbb;
  font-weight: 900;
}

.legend {
  padding-left: 1rem; // change here
  width: 75%;
}


@media only screen and (max-width: 812) {

      .legend {
              padding-left: 4rem; // change here
              }

              select {
                  font-size: 16px;
              }
    }

@media only screen and (max-width: 1024) {

          .legend {
                  padding-left: 3rem; // change here
           }
        }


-webkit-appearance: none;
