<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#77777">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      Menu <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="index.html">D.C. Policy Center: Data Blog</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="index.html">Home</a>
                      </li>
                      <li class="dropdown">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Style Guide Series<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a style= "color:#B16379" href="./posts/style-guide-series.html">Introduction</a></li>
                            <li><a style="color:#B16379" href="./posts/color-and-figure-guide.html">Color and Figure Guide</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="about.html">About</a>
                      </li>
                      <li>
                          <a href="posts.html">Posts</a>
                      </li>
                      <li>
                          <a href="contact.html">Contact</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <hr class="small">
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

      <section class="main-content">
      {{ content }}

      <footer class="site-footer">



      </footer>
      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Theme JavaScript -->
      <script src="/js/clean-blog.min.js"></script>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
